*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: .4s;
  }
    
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
    
  input:checked + .slider {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  }

  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-repeat: no-repeat;
    position: static;
    background-position: 0% 100%, 100% 0%;
    background-attachment: fixed, fixed;
    background-size: 280px 300px, 380px 530px;
    background-color: hsl(236, 78%, 97%);
    text-align: center;
}

.main-title {
    font-size: 1.75em;
    margin: 2em;
}

.annual-monthly {
    margin: 3.5em;
}

.btn-img {
    width: 2.75em;
    height: 1.8em;
}

.btn-img:hover {
    opacity: 75%;
}

.container {
    display: flex;
    justify-content: center;
}

.basic-card,
.master-card {
    background-color: #ffffff;
    height: 380px;
    margin: 1em 0em 1em 0em;
    padding-bottom: 0.67em;
}

.basic-card,
.pro-card,
.master-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.5em;
}

.basic-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pro-card {
    background-color: hsl(236, 75%, 75%);
    border-radius: 10px;
    height: 410px;
    padding-top: 0.75em;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, hsl(236, 75%, 85%), hsl(237, 75%, 75%));
}

.master-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pro-title {
    margin-top: 1.5em;
}

.price {
    font-size: 3em;
    color: hsl(234, 14%, 30%) ;
    /* margin: 0 0 20px; */
}

.border-white-top {
    border-top: 1px solid hsl(236, 78%, 97%);
}

.btn {
    margin: 0.75em;
}

.btn-blue {
    background-image: linear-gradient(to bottom right, hsl(236, 75%, 85%), hsl(237, 75%, 75%));
    border-radius: 0.33em;
    color: #ffffff;
}

.btn-blue:hover {
    background: transparent;
    color: hsl(236, 75%, 75%);
    border: 1px solid hsl(236, 75%, 75%);
    cursor: pointer;
}

.btn-white {
    border-radius: 0.33em;
    color: hsl(237, 75%, 75%);
}

.btn-white:hover {
    background: transparent;
    color: hsl(236, 78%, 97%);
    border: 1px solid hsl(236, 78%, 97%);
    cursor: pointer;
}

.btn-white,
.btn-blue {
    width: 92.5%;
    padding: 0.5em;
    margin: 1em;
    border: none;
    font-weight: 700;
}

/* Mobile view */
@media screen and (max-width: 800px) {

    body {
        background-image: url('./images/bg-top.svg');
        background-size: 12.5em 20em;
        background-position: 150% 0%;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .basic-card,
    .master-card,
    .pro-card{
        border-radius: 10px;
    }

}

hr{
    width: 90%;
    color:hsl(234, 14%, 30%);
}

.basic-card h4,
.master-card h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

#basic-price,
#master-price{
    margin-top: 10px;
    margin-bottom: 10px;
}

#pro-price{
    margin-top: 20px;
    margin-bottom: 10px;
}

hr{
    margin-top: 18px;
    margin-bottom: 18px;
}